<!-- app.component.html -->
<mat-sidenav-container class="example-container">
    <mat-sidenav mode="side" opened>
      <mat-nav-list>
        <a mat-list-item routerLink="#">Dashboard</a>
        <a mat-list-item routerLink="#">Messages & Notes</a>
        <a mat-list-item routerLink="#">My Orders</a>
        <a mat-list-item routerLink="#" class="active">My Courses</a>
        <a mat-list-item routerLink="#">My Homeworks</a>
        <a mat-list-item routerLink="#">Update Profile</a>
        <a mat-list-item routerLink="#">Change Password</a>
        <a mat-list-item routerLink="#">Help & Support</a>
        <a mat-list-item routerLink="#" class="logout">Logout</a>
      </mat-nav-list>
    </mat-sidenav>
  
    <mat-sidenav-content>
      <div class="main-content">
        <h1>Course Details</h1>
        <p>From here you can see all your course details.</p>
        <mat-card class="course-details">
          <mat-card-title>Digital Marketing Basic to Advanced</mat-card-title>
          <mat-card-subtitle>Batch : Batch 54 - Sunday & Tuesday 8.00 PM - 9:20 PM</mat-card-subtitle>
        </mat-card>
        <mat-card class="instructor-details">
          <mat-card-header>
            <mat-card-title>Instructor Details</mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <div class="instructor-info">
              <img mat-card-avatar src="https://via.placeholder.com/100" alt="Instructor Photo">
              <div>
                <p>Shuvo Ahmed</p>
                <p>shuvoahmed40_gmail.com</p>
              </div>
            </div>
          </mat-card-content>
        </mat-card>
        <mat-card class="batch-links">
          <mat-card-header>
            <mat-card-title>Batch Links</mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <ul>
              <li>Homework Submission Group : <a href="https://www.facebook.com/groups/758882699035854/">https://www.facebook.com/groups/758882699035854/</a></li>
              <li>Fiverr Gig Promotion Group : <a href="https://www.facebook.com/groups/506429083795214/">https://www.facebook.com/groups/506429083795214/</a></li>
              <li>Join FB Support Group : <a href="https://www.facebook.com/groups/638583493486919/">https://www.facebook.com/groups/638583493486919/</a></li>
              <li>Secret Telegram Group : <a href="https://t.me/+Cgy5owrFc6oyYTA1">https://t.me/+Cgy5owrFc6oyYTA1</a></li>
              <li>Secret Facebook Group : <a href="https://facebook.com/groups/785261760318431">https://facebook.com/groups/785261760318431</a></li>
              <li>Homework Submission Group : <a href="https://www.facebook.com/groups/758882699035854/">https://www.facebook.com/groups/758882699035854/</a></li>
              <li>Fiverr Gig Promotion Group : <a href="https://www.facebook.com/groups/506429083795214/">https://www.facebook.com/groups/506429083795214/</a></li>
              <li>Digital Marketing Basic to Advanced VIP Support Group : <a href="https://www.facebook.com/groups/506429083795214/">https://www.facebook.com/groups/506429083795214/</a></li>
            </ul>
          </mat-card-content>
        </mat-card>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
  